/*************************************************************************************** GENERAL
*/
body { padding-top: 70px; }

/*************************************************************************************** UTILS
*/
.centered {
	margin: 0 auto;
}

#content {
	margin-top: 3em;
}

.user-detail .list-group-item strong {
	padding-right: 20px;
}

/*************************************************************************************** LOGIN
*/

.login {
	width: 50%;
	margin: 0 auto;
}

/*************************************************************************************** PAGINATOR
*/




