@(message: String, users: List[recommendationsystem.models.User], count:Int, page:Int, pageLength:Int) 

@import recommendationsystem.models._
@import helper._

@recommendationsystem.views.html.main("Users")(recommendationsystem.views.html.nav.navbar("users")) {
<h1>Users</h1>
<div class="row">

	<div class="col-xs-12">
	   <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
        @for((user, i) <- users.zipWithIndex){
          <tr>
	        <td>@(i + (page - 1) * pageLength)</td>
	        <td><a href="@recommendationsystem.controllers.manager.routes.UsersController.detail(user.id)">@user.id</a></td>
	        <td>@user.email.getOrElse(" - ")</td>
	        <td>@user.anag.getOrElse(Anag("-",  "-")).name</td>
	        <td>@user.anag.getOrElse(Anag("-",  "-")).lastName</td>
          </tr>
        }

        </tbody>
      </table>
	</div>
</div>
<div class="paginator">
    @recommendationsystem.views.html.helper.paginator(page, pageLength, count, recommendationsystem.controllers.manager.routes.UsersController.list(_))
</div>
}
